/*
Beach Color Palette
Greenish: rgba(136,216,180);
Beish: rgba(255,238,173);
Pastel red: rgba(255,111,105);
Pastel yellow: rgba(255,204,92);
*/

.navbar {
    background-color: rgba(136,216,176);
  }
  
  body {
    margin-top: 120px;
    margin-right: 35px;
  
    background-color: rgba(255,111,105);
    color: black;
    font-size: 20px;
    font-family: "Merienda One";
    text-align: center;
    text-transform: capitalize;
  }
  
  .pokemon-list {
    list-style: none;
    margin-top: 170px;
  }
  
  .btn {
    margin: 5px;
    background-color: rgba(255,238,173);
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    padding: 10px;
    color: black;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    display: inline-block;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }
  
  .pokemon-img {
    height: 200px;
    width: 200px;
    margin-top: 20px;
    margin-bottom: 40px;
    align-self: center;
  }
  
  .modal-header {
    display: flex;
    background-color: rgba(255,204,92);
  }
  
  .modal-title {
    margin-bottom: 0;
    line-height: 1.5;
    color: black;
  }
  
  .modal-body {
    background-color: white;
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
    border-left: 6px solid rgba(255,204,92);
      border-right: 6px solid rgba(255,204,92);
  }
  
  .modal-content {
    position: relative;
    display: flex;
  }
  
  .modal-footer {
    background-color: white;
    border-left: 6px solid rgba(255,204,92);
      border-right: 6px solid rgba(255,204,92);
      border-bottom: 6px solid rgba(255,204,92);
      border-top: none;
  }